:root{
    --background-color: #FFF;
    --pramiry-color: #757575;
    --secondory-color:#212121;
    --company-color:#2196F3;

    --footer-contact-color: rgba(255, 255, 255, 0.6);

    --pramiry-button-color: #FFF;
    --secondory-button-color: #212121;
    --pramiry-button-background-color: #2196F3;
    --secondory-button-background-color: #F5F4FA; 
}

body
{
    color: var(--pramiry-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    letter-spacing: 0.03em;
}

img{
    display: block;
    max-width: 100%;
    height: auto;    
}

h1,
h2,
h3,
p,
ul
{
    margin: 0px;
    padding: 0px;   
}

/* visually hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Container */
.container{
    width: 1230px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

    outline: 1px solid red;
}

/* list */
.list {
    display: flex;

    list-style: none;
}

/* links */
.link {
    color: inherit;

    font-size: inherit;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--company-color);
}

/* button */
.button {
    color: var(--secondory-button-color);
    background-color: var(--secondory-button-background-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    
    line-height: 1.6;
    letter-spacing: 0.03em;

    border: 0;
}
.button:hover,
.button:focus {
    color: var(--pramiry-button-color);
    background-color: var(--pramiry-button-background-color);
}
/* title */
.title {
    color: var(--secondory-color);

    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* header */
.flex-header{
    display: flex;
    align-items: center;
}
 .logo{
    color: #000000;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;

    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}
.logo-cover{
    color: var(--company-color);
}
.navigation-link {
    color: var(--secondory-color);

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link.this-page{
    color: var(--company-color);
}
.top-contact {

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list .item:not(:last-child){
    margin-right:50px;
}
.list-nav
{
    margin-left: 93px;
}
.list.list-contact{
    margin-left: auto;
}
.flex-header .link
{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}

/* hero section */
.hero-section{
    background-color: #2F303A;
}
.hero-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 696px;

    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;

    line-height: 1.4;
    letter-spacing: 0.06em;

    text-transform: uppercase;
}
.hero-button{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-color: var(--company-color);
    color: var(--pramiry-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    letter-spacing: 0.06em;

    border: 0;
    border-radius: 4px;

    cursor: pointer;
}
.hero-button .button-text{
    display: block;
    padding: 10px 32px;
}

/* features section */
.features-title{
    margin-bottom: 10px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: inherit;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-list{
    flex-wrap: wrap;
}
.list-features .item{
    width: 270px;
}
.list-features .item:not(:nth-child(4n+4)){
    margin-right: 30px;
}
/* development-section */
.developmen-title{
    text-align: center;
    margin-bottom: 50px;
}
.list-developmen{
    flex-wrap: wrap;
}
.list-developmen .item:not(:nth-child(4n+4)){
    margin-right: 30px;
}
/* employee section */
.employee-title
{
    color: var(--secondory-color);

    font-weight: 500;
    font-size: 16px;

    line-height: 1.19;
    letter-spacing: 0.03em;
}
.employee-text{
    line-height: 1.71;
}

/* footer */
.bottom-section{
    background-color: #2F303A;
}
.logo.bottom-logo {
    color: #FFFFFF;
}
.bottom-text{
    color: #fff;

    font-style: inherit;
    font-weight: 400;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.bottom-contact {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-style:normal;

    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* product section */
.product-link{
    text-decoration: none;
}
.product-title{
    color: var(--secondory-button-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}
.product-text{
    color: var(--pramiry-color);

    font-size: 16px;

    line-height: 1.8;
    letter-spacing: 0.03em;
}